name: Django-CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.12.2]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
        
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r pylint_demo/requirements.txt
      
      - name: Run Tests
        run: |
          python pylint_demo/manage.py test > test_report.txt  # Redirige les résultats des tests vers un fichier

      - name: Run Pylint
        run: |
          pylint pylint_demo/exemple > pylint_report.txt  # Redirige les résultats de pylint vers un fichier

      - name: Upload Reports
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: |
            test_report.txt
            pylint_report.txt